* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #bfa25a, #f7e58f, #d4af37);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: rgba(178, 141, 7, 0.6);
  box-shadow: 0 8px 30px rgba(178, 141, 7, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}
img {
  height: 200px;
  width: 200px;
}
h2 {
  margin: 0;
}
p {
  font-size: 15px;
}
select {
  background: transparent;
  border: 0;
}
input,
select:focus {
  outline: none;
}
.currency1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
}
input {
  text-align: right;
  background: transparent;
  border: 0;
}
.swap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
}
.btn {
  text-align: left;
  border-radius: 10px;
  background-color: #947a38;
  padding: 7px;
  border-color: grey solid;
}
.rate {
  text-align: right;

  height: 20px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
}
.currency2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
}
